@{
  Layout = "_Layout";
}
<center>
 <h1>Welcome Category Project.</h1>
 <br>
 <br>
 <br>
 <hr/>
 <br>
 <p></p>
 <p>@Html.ActionLink("See all categories", "Index", "Categories")</p> 
 <p>@Html.ActionLink("Add a new category", "Create", "Categories")</p> 
 <p>@Html.ActionLink("Home","Index","Home")</p>
</center>
   

  