@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
<center>
 <h1>Welcome Category Project.</h1>
 <br>
 <br>
 <br>
 <hr/>
 <br>
 <p><a href='/categories/new'>Add my Category.</a></p>
 <p><a href='/categories'>See my list of categories.</a></p>
</center>
   