<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Deleted Items List!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
<h1>Your items list has been cleared!</h1>
<p><a href="/items">Back to places list.</a></p>
<p><a href="/">Back to Home page.</a></p>
</body>
</html>