
@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
<center>
<h1>Your items list has been cleared!</h1>
<p><a href="/items">Back to places list.</a></p>
<p><a href="/">Back to Home page.</a></p>
</center>
