@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
<center>

    <h1>Add a new item to @Model.getName()</h1>
     <form action="/categories/@Model.Id/items" method="post">
      <br>
      <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
      <label for="itemDescription">Item Description</label>
      <input id="description" name="description" type="text">
      <button type="submit">Add item</button>
    </form>
</center>
