@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
@using ToDoListWithType.Controllers;
<center>
    <h1>To Do List Item Details: </h1>
    <h2>@Model["item"].getDescription()</h2>
    <h3>Category: @Model["category"].getName()</h3>
    <a href='/categories/@Model["category"].Id/items/new'>Add another item</a><br>
    <a href='/categories'>View all categories</a>
</center>
 