@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
<center>
<h1>Your category list has been cleared!</h1>
<p><a href="/categories">Back to category list.</a></p>
<p><a href="/">Back to Home page.</a></p>
</center>
