@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
<center>
<form action="/categories" method="post">
      <br>
      <label for="cityname">Add a new Category </label>
      <input id="categoryName" name="categoryName" type="text">
      <button type="submit">Submit</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to categories.</a></p>
</center>
