@{
  Layout = "_Layout";
}
@using ToDoListWithType.Models;
@using ToDoListWithType.Controllers;
<center>
<h3>Here are all items in this category.</h3>
<ol>
    @foreach(var item in @Model["items"])
    {
        <h3><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.getDescription()</a></h3>
    }
</ol>
<br>
<br>
<br>
<hr/>
<p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>
</center>
